@{
    var report = ViewBag.Report as List<dynamic>;
    var headers = ViewBag.Headers as List<string>;
    var agrupar = ViewBag.Agrupar as string;
    string action = "";
    switch (agrupar)
    {
        case "agruparAcronimo":
            action = "GenerarReporteAgrupadoExcel";
            break;
        case "agruparViaje":
            action = "GenerarReporteAgrupadoNoViajeExcel";
            break;
        case "sinAgrupar":
            action = "GenerarReporteExcel";
            break;
    }
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Resultados del Reporte</h2>

            <form asp-controller="RfidCodiCaptEmbarque" asp-action="@action" method="post">
                <input type="hidden" name="startDate" value="@ViewBag.StartDateTime" />
                <input type="hidden" name="endDate" value="@ViewBag.EndDateTime" />
                <button class="btn btn-primary">Exportar excel</button>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        @foreach(var item in headers){
                            <th>@item</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if(report != null){
                        switch(agrupar)
                        {
                            case "agruparAcronimo":
                                foreach (var item in report)
                                {
                                    <tr>
                                        <td>@item.Acronimo</td>
                                        <td>@item.Viaje</td>
                                        <td>@item.Cantidad</td>
                                    </tr>
                                }
                                break;
                            case "agruparViaje":
                                foreach (var item in report)
                                {
                                    <tr>
                                        <td>@item.Viaje</td>
                                        <td>@item.Cantidad</td>
                                        <td>@item.Fecha</td>
                                    </tr>
                                }
                                break;
                            case "sinAgrupar":
                                foreach (var item in report)
                                {
                                    <tr>
                                        <td>@item.Codebar</td>
                                        <td>@item.Acronimo</td>
                                        <td>@item.FechaLectura</td>
                                    </tr>
                                }
                                break;

                        }
                    } else{
                        <tr>
                            <td class="text-center">
                                El resultado es null
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>